:root {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", Meiryo,
    sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #222;
  background-color: #f5f5f5;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: radial-gradient(circle at 20% 20%, #fdfdfd, #f1f1f1 40%),
    #f5f5f5;
  color: #222;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  font-family: inherit;
}